In [2]:
from sklearn import datasets
from pandas import DataFrame

In [3]:
raw_data = datasets.load_iris()
irises = DataFrame(data=raw_data.data, columns=raw_data.feature_names)
irises.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
# 1. How many rows does it contain? How many columns? 
rows, cols = irises.shape
print(f"rows: {rows}, cols: {cols}")

rows: 150, cols: 4

In [5]:
# 2. Compute the average petal length. 
irises['sepal length (cm)'].mean()

5.843333333333334

In [6]:
# 3. Compute the average of each numerical column (using one instruction). 
irises.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [7]:
# 4. Extract the petal length outliers (i.e. those rows whose petal length is 50% greater than the average 
#    petal length). Print the number of outliers and three examples of outliers. 

petal_mean = irises['petal length (cm)'].mean()
outliers = irises[irises['petal length (cm)'] > 1.5 * petal_mean]
print(f"Number of outliers: {len(outliers)}")
print("First three are: ", outliers.head(n=3))

Number of outliers: 19
First three are:       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
100                6.3               3.3                6.0               2.5
102                7.1               3.0                5.9               2.1
104                6.5               3.0                5.8               2.2

In [15]:
# 5. Compute the standard deviation of each numerical feature, for each iris species (don't use any loops).
irises.assign(species=[raw_data.target_names[val] for val in raw_data.target]) \
    .groupby(by='species') \
    .std()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,0.352490,0.379064,0.173664,0.105386
versicolor,0.516171,0.313798,0.469911,0.197753
virginica,0.635880,0.322497,0.551895,0.274650

In [24]:
# 6. Extract the petal length outliers for each iris species separately, as a DataFrame object. 
#    Outliers has petal length 50% greater than the average petal length within the whole dataset
#.  (you can use one for loop here).

petal_mean = irises['petal length (cm)'].mean()
for name, group in irises.assign(species=[raw_data.target_names[val] for val in raw_data.target]).groupby(by='species'):
    outliers = group[group['petal length (cm)'] > 1.5 * petal_mean]
    print(f"{name}: {len(outliers)}")

setosa: 0
versicolor: 0
virginica: 19